@use "mixin" as m;
.works-bg {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--blue);

  p {
    // inline-block
    // display: inline-flex;
    font-size: min(15vw, 13em);
    font-weight: 600;
    letter-spacing: 3vh;
    white-space: nowrap;
    color: rgba(#fff, 0.4);
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.works-content {
  position: relative;
  width: min(95%, 1400px);
  margin: 0 auto;
  padding-top: 30vh;
  figure {
    margin-bottom: 25vh;
    @media #{m.$minLg} {
      //1,5 right 2,4,6 md 3,7 left
      &:nth-child(4n + 1) {
        margin-left: auto;
      }
      &:nth-child(even) {
        margin-left: auto;
        margin-right: auto;
      }
      width: 30%;
    }
    @media #{m.$md} {
      &:nth-child(odd) {
        margin-left: auto;
      }
      width: 70%;
    }
    @media #{m.$maxSm} {
      width: 100%;
    }
    a {
      &:hover {
        div {
          border-color: #97eca6;
          transform: scale(0.9);
        }
      }
      div {
        overflow: hidden;
        border: 7px solid var(--blue);
        box-shadow: 0 0 20px rgba(#000, 0.2);
        transition: all 1s;
        img {
          width: 100%;
        }
      }
      figcaption {
        color: #fff;
        h2 {
          display: inline-block;
          position: relative;
          font-size: 1.5em;
          font-weight: 600;
          margin: 15px 0;
          &::before {
            content: "";
            position: absolute;
            height: 10px;
            width: 30%;
            bottom: 0;
            left: 0;
            background: var(--green);
            mix-blend-mode: multiply;
          }
        }
        p {
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          br {
            display: none;
          }
          span {
            font-size: 1.2em;
            font-weight: 600;
            animation: rolling 5s infinite linear;
            @keyframes rolling {
              0% {
                transform: translateX(0);
              }
              100% {
                transform: translateX(-100%);
              }
            }
          }
        }
      }
    }
  }
}

.cursor {
  pointer-events: none;
  position: fixed;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 50%;
  background: #97eca6;
  z-index: 6;
  color: #fff;
  opacity: 0.7;
  transition: transform 1s;
}
