.greet_section {
  margin: 20px 0;
  text-align: center;
  line-height: 180%;
}

.greet_section .emphasis {
  font-size: 1.2em;
  font-weight: bold;
}

.greet_section p {
  margin: 20px 0;
  text-align: center;
  line-height: 180%;
}

.greet_section figure {
  width: 850px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.greet_section figure div {
  overflow: hidden;
  width: 49%;
  border: 5px solid var(--thema-color);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.greet_section figure div img {
  width: 100%;
}

/* motion */
.greet_section > * {
  opacity: 0;
  transition: all 1s linear;
}

.greet_section > *:nth-child(odd) {
  transform: translateX(-200px);
}

.greet_section > *:nth-child(even) {
  transform: translateX(200px);
}

.greet_section > *.active {
  opacity: 1;
  transform: translateX(0);
}
