body {
  padding-top: 130px;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 10;
  min-width: 1200px;
  border: 1px solid var(--thema-color);
  background: #fff;
}

header.active {
  position: fixed;
  top: -40px;
}

header nav.member {
  height: 40px;
  background-color: var(--dark-color);
}

header nav.member div.center {
  width: 1200px;
  height: inherit;
  margin: 0 auto;
  text-align: right;
  line-height: 40px;
}

header nav.member div.center a {
  color: #aaa;
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 10px;
}

header nav.member div.center a:hover {
  color: white;
}

header div.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 1200px;
  margin: 0 auto;
}

header div.bottom h1 {
  height: 50%;
}
/* inline레벨은 부모로 취급안한다. */
header div.bottom h1 img {
  height: 110%;
}
/* 횡단은 높이를 주고 아코디언은 높이를 주지않는다. */
nav.gnb {
  height: 45px;
}

nav.gnb > ul {
  height: inherit;
  display: flex;
}

nav.gnb > ul > li {
  height: inherit;
}

nav.gnb > ul > li:hover {
  color: var(--sub-color);
}

nav.gnb > ul > li > a {
  display: block;
  line-height: 45px;
  padding: 0 50px;
  height: inherit;
  text-transform: uppercase;
}

nav.gnb > ul > li > ul > li > a {
  display: block;
  height: 40px;
  line-height: 40px;
  background: var(--thema-color);
  text-align: center;
  color: white;
  transition: all 0.3s;
}

nav.gnb > ul > li > ul > li > a:hover {
  background: var(--sub-color);
}

nav.gnb > ul > li > ul {
  display: none;
}

nav.gnb .menu_member,
nav.gnb h6,
nav.gnb .menu_sns {
  display: none;
}

nav.quick {
  position: absolute;
  width: 80px;
  right: 30px;
  top: 0.5;
  z-index: 11;
  transition: top 0.5 3s;
}

nav.quick > * {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
  font-size: 0.8em;
  font-weight: 600;
}

nav.quick b {
  background: orange;
  height: 35px;
}

nav.quick a {
  height: 90px;
  background: #444;
  border-bottom: 1px solid #666;
}

nav.quick a i {
  font-size: 2.5em;
  margin-bottom: 5px;
}

nav.quick button {
  width: 100%;
  height: 35px;
  background: var(--sub-color);
}

nav.quick a:hover {
  background: #999;
}
