body {
  color: gray;
  font-family: "Montserrat", "Nanum Gothic", sans-serif;
  font-size: 15px;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
}
/* 영어가 앞에 뒤에는 한국어 */
.serif {
  font-family: "Nanum Myeongjo", serif;
}
/* serif 사용법 */
:root {
  --thema-color: #a99783;
  --sub-color: #9a774f;
  --dark-color: #181616;
  --point-color: #ff8800;
}

h1 {
  color: var(--thema-color);
}
/* main color */
