* {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
/*  inherit 상속관계가 존재 */
h1 {
  font-size: 20px;
}

body {
  font-size: 1rem;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

input,
select,
textarea {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

img,
video,
svg,
canvas,
iframe {
  display: block;
}
