section.sub_visual {
  position: relative;
  height: 300px;
  min-width: 1200px;
}

section.sub_visual figure {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.sub_visual figure img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}

section.sub_visual figure figcaption {
  position: relative;
  text-align: center;
  color: white;
}

section.sub_visual figure figcaption h5 {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 10px;
  text-shadow: 5px 5px 0px #0e0604;
}

section.sub_visual figure figcaption p {
  font-size: 1.2em;
  font-weight: 600;
  margin: 15px;
}

section.sub_visual video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  mix-blend-mode: screen;
}

/* 
  sub_visual motion 따로하면 유지보수에 좋다
*/
section.sub_visual figure {
  display: none;
  overflow: hidden;
}

section.sub_visual figure img {
  transform: scale(1.2);
  transition: transform 10s linear, filter 2s linear;
  filter: blur(3px) brightness(0.85);
}

section.sub_visual figure.active img {
  transform: scale(1);
  filter: blur(0) brightness(0.9);
}

section.sub_visual figure figcaption h5,
section.sub_visual figure figcaption p {
  opacity: 0;
  transition: all 2s;
  transition-delay: 1s;
}

section.sub_visual figure figcaption h5 {
  transform: translateY(-50px);
}

section.sub_visual figure figcaption p {
  transform: translateY(50px);
}

section.sub_visual figure.active figcaption h5,
section.sub_visual figure.active figcaption p {
  opacity: 1;
  transform: translateY(0);
}

div.sub_center {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

aside.sidebar {
  width: 215px;
  top: 120px;
  position: sticky;
}

main.sub_content {
  width: 940px;
  min-height: 400px;
  position: relative;
}

.sub_banner {
  width: 100%;
  margin-top: 100px;
}

.snb > ul > li,
.snb > ul > li > a {
  display: none;
}

.snb > ul > li > h6 {
  margin-bottom: 10px;
  font-size: 1.3em;
  font-weight: 700;
  color: var(--thema-color);
}

.snb > ul > li > ul > li > a {
  display: block;
  padding: 7px 5px;
  border-bottom: 1px dotted #ccc;
  font-weight: 600;
}

.snb > ul > li > ul > li > a::before {
  content: "-";
}

.snb > ul > li > ul > li > a:hover {
  color: var(--thema-color);
}

.snb > ul > li > ul > li > a.active {
  color: var(--sub-color);
}

main.sub_content ul.breadcrumb {
  position: absolute;
  display: flex;
  right: 0;
  margin: 0 2px;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #666;
}

main.sub_content ul.breadcrumb li:not(:last-child)::after {
  content: ">";
}

main.sub_content ul.breadcrumb li:last-child {
  color: var(--point-color);
}
